.attribution { font-size: 11px; text-align: center; margin-top: 15px;}
.attribution a { color: hsl(228, 45%, 44%); }

.card {
    border: solid;
    width: 200px;
    height: 300px;
    margin: auto;
}
